.details-container {
  white-space: pre-wrap;
  padding: 0.78rem;
  font-size: 0.88rem;
  color: #000;
  height: 200px;
}

.show-full-details > .icons {
  fill: rgb(137, 94, 149);
  margin-left: 10px;
}
.hide-full-details > .icons {
  fill: rgb(137, 94, 149);
  margin-left: 10px;
}

.hotel-details {
  white-space: pre-wrap;
}

.hotel-details-collapsed {
  height: 200px;
  padding: 0 1rem;
}

.hide-full-details,
.show-full-details {
  color: rgb(137, 94, 149);
  cursor: pointer;
}
