/* Hotel Page styling */
.hotel-page-container {
  flex: 1 0 auto;
  display: flex;
}

.hotel-page-content {
  flex: 1;
}

/* Nav bar styling */
.navbar-container {
  width: 100%;
  height: 60px;
  border: solid 2px blue;
}

.hotel-page-container {
  display: flex;
  flex: 1 0 auto;
}

.hotel-page-header-container {
  display: flex;
}

/* hotel list styling */
.hotel-list-container {
  background: lightgrey;
  width: 257px;
  order: -1;
  margin: 0;
  border: solid 2px green;
}

