.header-info-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.tab-container {
  flex-wrap: wrap;
}

.icons {
  height: 1rem;
  width: 1rem;
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* Left side of header hotel info styling */
.left-side {
  text-align: left;
}

.hotel-name {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
}

.hotel-ratings-container {
  margin-left: 1rem;
}

.hotel-area-name {
  cursor: pointer;
}

/* Right side of header price styling */
.right-side {
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 20px;
}

.hotel-price {
  font-size: 52px;
  font-weight: 700;
  text-align: left;
  color: rgb(244, 135, 33);
}

/* second row of header styling */
.second-row-info {
  display: flex;
  flex-direction: row;
}

.second-row-info > label {
  margin: 0.5rem;
  font-size: 1rem;;
}

.best-price-guarantee > .icons {
  margin-right: 5px;
}