.description-container {
  white-space: pre-wrap;
  padding: 0.78rem;
  font-size: 0.88rem;
  color: #000;
}

.show-full-description > .icons {
  fill: rgb(137,94,149);
  margin-left: 10px;
  
}
.hide-full-description > .icons {
  fill: rgb(137,94,149);
  margin-left: 10px;
}

.hotel-description {
  white-space: pre-wrap;
}

.hotel-description-collapsed {
  height: 200px;
  padding: 0 1rem;
}

.hide-full-description, .show-full-description {
  color: rgb(137,94,149);
  cursor: pointer;
}