.header-container {
  display: inline-flex;
  flex: 1;
}

.header-image-container {
  display: flex;
}

.header__hotel-image {
  border: solid 2px maroon;
}

.header__hotel-info {
  display: flex;
  width: 100%;
}