.navbar-container {
  display: flex;
  flex-direction: row;
  fill: purple;
}

.navbar-container > .icons {
  margin-left: 20px;
  margin-top: 15px;
}

.navbar-back-button {
  color: rgb(137, 94, 149);
  font-size: 1rem;
}

.back-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  cursor: pointer;
}

.left-icon {
  margin-top: 20px;
  font-size: 10px;
}

